<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.philips.ht.myphilipsnews.tst"
        version   = "0.0.2" >

    <name>My Philips news</name>

    <description>My Philips News - Global Communications App</description>

    <!--
    Current latest and default version
    Platform versions don't follow a common version number anymore
    (see: http://phonegap.com/blog/2015/06/16/phonegap-updated-on-build/).
    Instead, Phonegap Build derives the platform versions from the CLI
    defaults.
    -->
    <preference name="phonegap-version" value="cli-7.0.1" />

    <!-- allow assets to be loaded and open links in the app itself, see: http://phonegap.com/blog/2012/03/20/access-tags/ -->
    <!-- Issue 204079: Allow retrieval of any resource. Custom widgets can point to anything. -->
    <access origin="*" />

    <!-- Force the default architecture for Android to ARM -->
    <plugin name="com.darktalker.cordova.screenshot" source="npm" spec="0.1.6" />
    <plugin name="com.telerik.plugins.nativepagetransitions" source="npm" spec="0.6.5" />
    <plugin name="cordova-build-architecture" source="git" spec="https://github.com/MBuchalik/cordova-build-architecture.git#v1.0.1" />
    <plugin name="cordova-plugin-actionsheet" source="npm" spec="2.3.3" />
    <plugin name="cordova-plugin-android-permissions" source="npm" spec="0.10.0" />
    <plugin name="cordova-plugin-app-version" source="npm" spec="0.1.8" />
    <plugin name="cordova-plugin-battery-status" source="npm" spec="1.1.2" />
    <plugin name="cordova-plugin-console" source="npm" spec="1.0.3" />
    <plugin name="cordova-plugin-cookieemperor" spec="https://github.com/rtk/cordova-cookie-emperor.git" />
    <plugin name="cordova-plugin-device" source="npm" spec="1.1.2" />
    <plugin name="cordova-plugin-device-motion" source="npm" spec="1.2.1" />
    <plugin name="cordova-plugin-device-orientation" source="npm" spec="1.0.3" />
    <plugin name="cordova-plugin-dialogs" source="npm" spec="1.2.1" />
    <plugin name="cordova-plugin-file" source="npm" spec="4.2.0" />
    <plugin name="cordova-plugin-file-transfer" source="npm" spec="1.5.1" />
    <plugin name="cordova-plugin-globalization" source="npm" spec="1.0.3" />
    <plugin name="cordova-plugin-inappbrowser" source="npm" spec="1.4.0" />
    <plugin name="cordova-plugin-network-information" source="npm" spec="1.2.1" />
    <plugin name="cordova-plugin-secure-storage" source="npm" spec="2.4.0" />
    <plugin name="cordova-plugin-spinner" source="npm" spec="1.1.0" />
    <plugin name="cordova-plugin-splashscreen" source="npm" spec="3.2.2" />
    <plugin name="cordova-plugin-statusbar" source="npm" spec="2.1.3" />
    <plugin name="cordova-plugin-vibration" source="npm" spec="2.1.1" />
    <plugin name="cordova-plugin-x-socialsharing" source="npm" version="5.0.11"/>
    <plugin name="cordova-plugin-zip" source="npm" spec="3.1.0" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="1.2.2" />
    <plugin name="cordova-sqlite-storage-pgb" source="git" spec="https://github.com/mendix/Cordova-sqlite-storage-pgb.git#storage-master" />
    <plugin name="phonegap-plugin-push" source="npm" spec="1.5.3" />
    <plugin name="uk.co.workingedge.phonegap.plugin.launchnavigator" source="npm" version="2.9.11"/>
    <plugin name="cordova-plugin-email" source="npm" spec="1.2.6" />

        <!-- On iOS, the statusbar is transparent by default and is drawn over the top of our app. -->
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#000000" />

        <preference name="DisallowOverscroll" value="true" />

        <preference name="webviewbounce" value="false" />

        <!-- Set proper defaults for `cordova.file.dataDirectory`. -->
        <preference name="iosPersistentFileLocation" value="Library" />

        <!-- Set proper keyboard action for Apple device. -->
        <preference name="KeyboardDisplayRequiresUserAction" value="false" />

        <!-- Disable backup to iCloud on iOS. -->
        <preference name="BackupWebStorage" value="none" />

        <!-- Enable WKWebView on iOS -->
        <feature name="CDVWKWebViewEngine">
            <param name="ios-package" value="CDVWKWebViewEngine" />
        </feature>

        <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />

        <preference name="KeyboardDisplayRequiresUserAction" value="false" />

        <plugin name="cordova-plugin-wkwebview-engine-nextgen" source="npm" spec="^1.1.0" />

        <platform name="ios">
                <icon src="res/ios/icon-83.5-2x.png" width="167" height="167" />
                <splash src="res/ios/screen-iphone-landscape-2x.png" width="960" height="640" />
                <icon src="res/ios/icon-60.png" width="60" height="60" />
                <icon src="res/ios/icon-60-2x.png" width="120" height="120" />
                <splash src="res/ios/screen-iphone-landscape-568h-2x.png" width="1136" height="640" />
                <splash src="res/ios/screen-iphone-landscape-667h.png" width="1334" height="750" />
                <icon src="res/ios/icon-40.png" width="40" height="40" />
                <icon src="res/ios/icon-76-2x.png" width="152" height="152" />
                <splash src="res/ios/screen-ipad-landscape.png" width="1024" height="768" />
                <icon src="res/ios/icon-60-3x.png" width="180" height="180" />
                <icon src="res/ios/icon-small-2x.png" width="58" height="58" />
                <icon src="res/ios/icon-small-3x.png" width="87" height="87" />
                <splash src="res/ios/screen-iphone-portrait-667h.png" width="750" height="1334" />
                <splash src="res/ios/screen-iphone-portrait-568h-2x.png" width="640" height="1136" />
                <icon src="res/ios/icon-50-2x.png" width="100" height="100" />
                <splash src="res/ios/screen-ipad-portrait.png" width="768" height="1024" />
                <icon src="res/ios/icon.png" width="57" height="57" />
                <icon src="res/ios/icon-72.png" width="72" height="72" />
                <splash src="res/ios/screen-iphone-landscape.png" width="480" height="320" />
                <splash src="res/ios/screen-iphone-portrait-2x.png" width="640" height="960" />
                <icon src="res/ios/icon-40-2x.png" width="80" height="80" />
                <splash src="res/ios/screen-ipad-portrait-2x.png" width="1536" height="2048" />
                <icon src="res/ios/icon-72-2x.png" width="144" height="144" />
                <icon src="res/ios/icon-76.png" width="76" height="76" />
                <icon src="res/ios/icon-50.png" width="50" height="50" />
                <splash src="res/ios/screen-iphone-landscape-736h.png" width="2208" height="1242" />
                <splash src="res/ios/screen-iphone-portrait-736h.png" width="1242" height="2208" />
                <icon src="res/ios/icon-small.png" width="29" height="29" />
                <splash src="res/ios/screen-iphone-portrait.png" width="320" height="480" />
                <splash src="res/ios/screen-ipad-landscape-2x.png" width="2048" height="1536" />
                <icon src="res/ios/icon-2x.png" width="114" height="114" />
        </platform>

        <!-- The gradle build tool is required for the phonegap-plugin-push -->
        <preference name="android-build-tool" value="gradle" />

        <preference name="CrosswalkAnimatable" value="true" />
        <preference name="xwalkMultipleApk" value="true" />


        <plugin name="cordova-plugin-crosswalk-webview" source="npm" spec="2.3.0" />

        <!-- This plugin should be removed if the project does not use Crosswalk -->
        <plugin name="com.crosswalk.cookies" spec="https://github.com/dokoto/crosswalk-cookies.git" />
        <!-- -->

        <plugin name="cordova-plugin-whitelist" source="npm" spec="1.2.2" />
        <plugin name="cordova-plugin-android-permissions" source="npm" version="0.10.0" />

        <preference name="android-targetSdkVersion" value="23" />

        <platform name="android">
                <!-- Icon definitions - for more details: http://developer.android.com/guide/topics/resources/providing-resources.html -->
                <splash src="res/android/screen-xxxhdpi-landscape.png" qualifier="land-xxxhdpi"/>
                <!-- Icon definitions - for more details: http://developer.android.com/guide/topics/resources/providing-resources.html -->
                <splash src="res/android/screen-hdpi-landscape.png" qualifier="land-hdpi"/>
                <!-- Icon definitions - for more details: http://developer.android.com/guide/topics/resources/providing-resources.html -->
                <splash src="res/android/screen-xxhdpi-portrait.png" qualifier="port-xxhdpi"/>
                <!-- Icon definitions - for more details: http://developer.android.com/guide/topics/resources/providing-resources.html -->
                <splash src="res/android/screen-ldpi-portrait.png" qualifier="port-ldpi"/>
                <!-- Icon definitions - for more details: http://developer.android.com/guide/topics/resources/providing-resources.html -->
                <icon src="res/android/icon-144-xxhdpi.png" qualifier="xxhdpi"/>
                <!-- Icon definitions - for more details: http://developer.android.com/guide/topics/resources/providing-resources.html -->
                <splash src="res/android/screen-mdpi-landscape.png" qualifier="land-mdpi"/>
                <!-- Icon definitions - for more details: http://developer.android.com/guide/topics/resources/providing-resources.html -->
                <splash src="res/android/screen-ldpi-landscape.png" qualifier="land-ldpi"/>
                <!-- Icon definitions - for more details: http://developer.android.com/guide/topics/resources/providing-resources.html -->
                <icon src="res/android/icon-72-hdpi.png" qualifier="hdpi"/>
                <!-- Icon definitions - for more details: http://developer.android.com/guide/topics/resources/providing-resources.html -->
                <icon src="res/android/icon-36-ldpi.png" qualifier="ldpi"/>
                <!-- Icon definitions - for more details: http://developer.android.com/guide/topics/resources/providing-resources.html -->
                <icon src="res/android/icon-48-mdpi.png" qualifier="mdpi"/>
                <!-- Icon definitions - for more details: http://developer.android.com/guide/topics/resources/providing-resources.html -->
                <icon src="res/android/icon-192-xxxhdpi.png" qualifier="xxxhdpi"/>
                <!-- Icon definitions - for more details: http://developer.android.com/guide/topics/resources/providing-resources.html -->
                <splash src="res/android/screen-xxhdpi-landscape.png" qualifier="land-xxhdpi"/>
                <!-- Icon definitions - for more details: http://developer.android.com/guide/topics/resources/providing-resources.html -->
                <splash src="res/android/screen-xhdpi-landscape.png" qualifier="land-xhdpi"/>
                <!-- Icon definitions - for more details: http://developer.android.com/guide/topics/resources/providing-resources.html -->
                <splash src="res/android/screen-mdpi-portrait.png" qualifier="port-mdpi"/>
                <!-- Icon definitions - for more details: http://developer.android.com/guide/topics/resources/providing-resources.html -->
                <splash src="res/android/screen-xhdpi-portrait.png" qualifier="port-xhdpi"/>
                <!-- Icon definitions - for more details: http://developer.android.com/guide/topics/resources/providing-resources.html -->
                <splash src="res/android/screen-xxxhdpi-portrait.png" qualifier="port-xxxhdpi"/>
                <!-- Icon definitions - for more details: http://developer.android.com/guide/topics/resources/providing-resources.html -->
                <icon src="res/android/icon-96-xhdpi.png" qualifier="xhdpi"/>
                <!-- Icon definitions - for more details: http://developer.android.com/guide/topics/resources/providing-resources.html -->
                <splash src="res/android/screen-hdpi-portrait.png" qualifier="port-hdpi"/>
        </platform>

    <splash src="splash.png" />


</widget>
