body {
    margin: 0;
    font-family: helvetica, arial, sans-serif;
}
.mx-main-container {
    color: black;
    font-family: helvetica, arial, sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: normal;
    font-variant: normal;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: white;
}
.mx-alert {
    position: absolute;
    left: 0;
    right: 0;
    width: 90%;
    max-width: 400px;
    margin: 30px auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    display: none;
}
.mx-alert-header {
    padding: 15px;
    background-color: #0595db;
    color: white;
}
.mx-alert-body {
    padding: 15px;
}
.mx-alert-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.mx-alert h4 {
    margin: 0;
}
.mx-alert p {
    margin: 0px;
}
.mx-alert button {
    display: inline-block;
    padding: 8px 14px;
    background: #0595db;
    color: white;
    border-radius: 0px;
}
#mx-loader-container {
    position: absolute;
    width: 100%;
    height: 100%;
}
.mx-valign-table {
    display: table;
}
.mx-valign-cell {
    display: table-cell;
    vertical-align: middle;
}
.mx-loader img {
    display: block;
    margin: 0 auto;
}
.mx-loader .mx-message {
    text-align: center;
    padding: 4px 0;
}/* Reset
/*******************/
* {
    box-sizing: border-box;
}

button, input, select {
    overflow: visible;
}
button, input, select, textarea {
    font: inherit;
    margin: 0;
}

/* Keyframers for animation
/*******************/
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* Login
/*******************/

.mx-hybridapp {
    height: 100vh;
}

.mx-hybridapp a {
    outline: none;
    color: #0595db;
    cursor: pointer;
    text-decoration: none;
}

.mx-hybridapp a.active,
.mx-hybridapp a:focus,
.mx-hybridapp a:hover {
    color: #0473a9;
}

.mx-hybridapp-wrapper {
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

.mx-hybridapp-login {
    background: white;
    position: relative;
    max-width: 340px;
    width: 100%;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}

.mx-hybridapp-title {
    color: #555;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.mx-hybridapp-formgroup {
    margin: 20px 0;
}

.mx-hybridapp-formgroup-input {
    font-size: 16px;
    display: block;
    padding: 15px 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #d7d7d7;
    transition: border-width 0.2s ease;
    border-radius: 4px;
    color: #ccc;
}
.mx-hybridapp-formgroup-pins .mx-hybridapp-formgroup-input {
    font-size: 31px;
    padding: 6px 10px;
}

.mx-hybridapp-formgroup-input:focus,
.mx-hybridapp-formgroup-input.active {
    outline: none;
    color: #555;
    border-color: #0595db;
}
.mx-hybridapp-formgroup-pins {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.mx-hybridapp-formgroup-pins .mx-hybridapp-formgroup-input {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    text-align: center;
    display: inline-block;
    margin: 5px;
}
.mx-hybridapp-formgroup-pins .mx-hybridapp-formgroup-input:first-child {
    margin-left: 0;
}
.mx-hybridapp-formgroup-pins .mx-hybridapp-formgroup-input:last-child {
    margin-right: 0;
}

.mx-hybridapp-button {
    display: block;
    border-style: none;
    width: 100%;
    font-size: 16px;
    padding: 15px 10px;
    color: #FFF;
    cursor: pointer;
    background-color: #0595db;
    border-radius: 4px;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.mx-hybridapp-button:focus,
.mx-hybridapp-button:hover,
.mx-hybridapp-button.active {
    outline: none;
    background-color: #0473a9;
}

.mx-hybridapp-link {
    display: block;
    margin-top: 10px;
    font-size: 12px;
}

.mx-hybridapp-pin-wrapper {
    display: none;
    font-size: 14px;
    margin: 20px 0 0 0;
    color: #555;
}

.mx-hybridapp-forget-button {
    border-style: none;
    color: #0595db;
    background: none;
}
/*# sourceMappingURL=bundle.css.map*/

@keyframes svg-rotate {
  to {
	transform: rotate(360deg);
  }
}
@keyframes stroke-width {
  0%, 100% {
	stroke-width: 0;
  }
  45%, 55% {
	stroke-width: 2;
  }
  50% {
	stroke-width: 4;
  }
}
@keyframes stroke-dash {
  0% {
	stroke-dasharray: 0, 301.59289;
	stroke-dashoffset: 0;
  }
  50% {
	stroke-dasharray: 301.59289, 0;
	stroke-dashoffset: 0;
  }
  100% {
	stroke-dasharray: 301.59289, 301.59289;
	stroke-dashoffset: -301.59289;
  }
}
@keyframes stroke-color {
  from {
	stroke: #1880b9;
  }
  to {
	stroke: white;
  }
}
#loading svg{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.m-modeler-loader {
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.m-modeler-loader .m-modeler-loader-spinner .svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto auto;
  display: block;
  animation: svg-rotate 8000ms linear infinite;
}

/* IE 10 and above */
_:-ms-lang(x), .m-modeler-loader .m-modeler-loader-spinner .svg {
  animation: svg-rotate 2000ms linear infinite;
}

.m-modeler-loader .m-modeler-loader-spinner circle {
  fill: transparent;
  stroke: #1880b9;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-dasharray: 300, 100;
  stroke-dashoffset: 50;
  animation: stroke-dash 2000ms linear infinite, stroke-width 2000ms linear infinite, stroke-color 8000ms steps(4) infinite;
}
